{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">A web app presenting data for defeating the market once and for all</p>
  <p>
    <a href="/dashapp/" class="dash-link">
      <span>Compare Individual Stocks</span>
      <i class="fas fa-arrow-right"></i>
    </a>
  </p>
  <p>
    <a href="/dashapp/" class="dash-link">
      <span>Analyze Stock vs. Sector Performance</span>
      <i class="fas fa-arrow-right"></i>
    </a>
  </p>
</div>
{% endblock %}