/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
    font-family: "Inconsolata", Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #cccccc;
    background: #000;
    height: 100%;
    position: relative;
  }
  
  a {
    color: #8C7676;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover, a:active, a:focus {
    color: #8C7676;
    outline: none;
  }
  
  p {
    margin-bottom: 1.5em;
    font-size: 16px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: "Inconsolata", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 0 0;
  }